Title: <%= @game.name %><br>
Description: <%= @game.description%><br>
<br>
<%= link_to 'Edit Game', edit_game_path(@game) %><br>
<%= link_to 'Delete Game', game_path(@game), method: :delete %><br>
<%= link_to 'Review Game', new_game_review_path(@game), method: :get %><br>

<h2>Reviews</h2>

<% @game.reviews.each do |review| %>
        <h3><%= link_to review.title, game_review_path(review.game, review) %></h3>
        <h4><%= review.score %> / 10</h4>
        <p><%= review.content %></p>
        <h5>written by <%= review.user.username %></h5>
<% end %>