<h1><%= @review.game.name.capitalize %></h1>
<h2><%= @review.title %></h2>
<h3><%= @review.score %> / 10</h3>
<p><%= @review.content %></p>

<%= button_to 'Edit Review', edit_game_review_path(@review.game, @review), method: :get %>
<%= button_to 'Delete Review', game_review_path(@review.game, @review), method: :delete %>
<%= button_to 'Show all Reviews', game_path(@review.game), method: :get %>