<!DOCTYPE html>
<html>
  <head>
    <title>Gamers Unite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Gamers Unite</h1>

    <br>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>

    <br>

    <% if user_signed_in? %>
      <%= link_to "Homepage", root_path %><br>  
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Signup", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to('Log in with Facebook!', user_facebook_omniauth_authorize_path) %>
    <% end %>
  </body>
</html>
