<!DOCTYPE html>
<html>
  <head>
    <title>Gamers Unite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container nes-container is-centered">
    <h1 class="page-header"><i class="snes-logo"></i> Gamers Unite <img src="http://www.videogamesprites.net/ChronoTrigger/Party/Crono/Crono%20-%20Battle%20(Left).gif"></h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>

    <br>

    <% if user_signed_in? %>
      <%= link_to "Homepage", root_path %><br>  
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Signup", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to('Log in with Facebook!', user_facebook_omniauth_authorize_path) %>
    <% end %>
  </div>
  </body>
</html>
